.buttons {
  width: 280px;
  height: 270px;
  border-radius: 50%;
  background-color: #b3cde0;
  box-shadow: 0 2px 5px #8298a8;
  margin: auto;
  margin-top: 34px;
}
.select {
  position: absolute;
    width:120px;
    height:120px;
    right: 45%;
    top: 415px;
    font-size: 18px;
    border-radius: 50%;
    color: #eaf2f8;
    background-color: #6c8ebf;
    box-shadow: 0 2px 5px #5a79a3;
    border:none;
}
.menu {
  position: absolute;
  display: flex;
  top: 355px;
  left: 47%;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:none;
  background-color: transparent;
}
.backward {
  position: absolute;
  display: flex;
  left: 40%;
  bottom: 175px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:none;
  background-color: transparent;
}
.forward {
  position: absolute;
  display: flex;
  left: 57%;
  bottom: 175px;
  font-size: 25px;
  border-radius: 50%;
  border:none;
  background-color: transparent;
}
.play {
  position: absolute;
  display: flex;
  bottom: 50px;
  left: 48.5%;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:none;
  background-color: transparent;
}
button i{
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}